.b1{
    color:darkblue ;
    background-color: green;
    border-radius:0cap ;
    border-style: double;
}

.b2{
    color:fuchsia ;
    background-color: lightcoral;
    border-radius:0cap ;
    border-style:dotted;
}

.b3{
    color:tomato ;
    background-color: navy;
    border-radius:0cap ;
    border-style:inherit;
}

.b4{
    color:crimson ;
    background-color: hotpink;
    border-radius:0cap ;
    border-style:groove;
}

.b5{
    color:darkmagenta ;
    background-color: aqua;
    border-radius:0cap ;
    border-style:ridge;
}